*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer{
  text-align: center;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 30px;
}
.App{
  background: linear-gradient(to bottom right,rgb(183, 255, 255) , rgb(196, 196, 255));
}